# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env
db.sqlite3

# User uploaded media (don't commit!)
backend/media/

# Node
node_modules/
build/
dist/
.npm
.eslintcache

# OS
.DS_Store
Thumbs.db
